.ipynb_checkpoints/AUCell_python-checkpoint.ipynb
.ipynb_checkpoints/generate_multi_sample_report-checkpoint.ipynb
.ipynb_checkpoints/calculateSignaturesPipeline-checkpoint.ipynb
.ipynb_checkpoints/infiltration_scoring_with_bulk_sigs-checkpoint.ipynb
.ipynb_checkpoints/infiltration_scoring_with_gene_signatures-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/untitled-checkpoint.py
seurat_objects.rds
.ipynb_checkpoints/20240902_spatial_analysis-checkpoint.ipynb
.ipynb_checkpoints/multi_sample_seurat-checkpoint.ipynb
.ipynb_checkpoints/seurat_multisample_v2-checkpoint.ipynb
.ipynb_checkpoints/seurat_spatial_v2-checkpoint.ipynb
.ipynb_checkpoints/seurat_spatial-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/acquire_gene_sigs_from_rds-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/acquire_pseudo_bulk_counts-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/alternate_squidpy-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/AUCell_python-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/calculateSignaturesPipeline-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/gene_signantures_trouble_shooting-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/generate_multi_sample_report-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/infiltration_scoring_with_bulk_sigs-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/infiltration_scoring_with_gene_signatures-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/infilttration_scoring-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/scanpy_visium-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/spatial_tutorial-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/squidpy_visium-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/squidpy_walkthrough-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/thresholded_image-checkpoint.png
brca_nbs_previous/.ipynb_checkpoints/tumor_segmentation-checkpoint.ipynb
.ipynb_checkpoints/20240909_python_spatial_inclusive-checkpoint.ipynb
.ipynb_checkpoints/20240909_python_spatial-checkpoint.ipynb
.ipynb_checkpoints/test-checkpoint.png
brca_nbs_previous/.ipynb_checkpoints/check_prog-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/combined_spatial_plots-checkpoint.png
brca_nbs_previous/.ipynb_checkpoints/multi_sample_seurat-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/quick_exec-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/seurat_spatial_v2-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/seurat_spatial-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/troubletshoot_temp-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/Untitled-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/Untitled-Copy1-checkpoint.ipynb
.ipynb_checkpoints/b_cell_data_integration-checkpoint.ipynb
.ipynb_checkpoints/b_cell_subtyping-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/20240909_python_spatial_inclusive-checkpoint.ipynb
brca_nbs_previous/.ipynb_checkpoints/20240909_python_spatial-checkpoint.ipynb
**/*.ipynb
brca_scripts/.ipynb_checkpoints/visiumPipeline-checkpoint.py
brca_scripts/.ipynb_checkpoints/tumorSegmentation-checkpoint.py
brca_nbs_previous/combined_spatial_plots.png
brca_nbs_previous/segmented_image.png
brca_nbs_previous/segmented_large_objects.png
brca_nbs_previous/thresholded_image.png
brca_scripts/__pycache__/applyCosineScores.cpython-310.pyc
brca_scripts/__pycache__/applySignatures.cpython-310.pyc
brca_scripts/__pycache__/getBulkSigScores.cpython-310.pyc
brca_scripts/__pycache__/getRSigs.cpython-310.pyc
brca_scripts/__pycache__/helpFuncs.cpython-310.pyc
brca_scripts/__pycache__/py_AUCell.cpython-310.pyc
brca_scripts/__pycache__/tumorSegmentation.cpython-310.pyc
brca_scripts/__pycache__/tumourSegmentation.cpython-310.pyc
brca_scripts/__pycache__/visiumPipeline.cpython-310.pyc
brca_scripts/.ipynb_checkpoints/acquirePseudoBulkRef-checkpoint.py
brca_scripts/.ipynb_checkpoints/applyCosineScores-checkpoint.py
brca_scripts/.ipynb_checkpoints/cellchat-checkpoint.r
brca_scripts/.ipynb_checkpoints/getBulkSigScores-checkpoint.py
brca_scripts/.ipynb_checkpoints/getRSigs-checkpoint.py
brca_scripts/.ipynb_checkpoints/helpFuncs-checkpoint.py
brca_scripts/.ipynb_checkpoints/py_AUCell-checkpoint.py
brca_scripts/.ipynb_checkpoints/returnSpatiallyVariableFeatures-checkpoint.r
brca_scripts/.ipynb_checkpoints/SCTransform_b_ref-checkpoint.r
brca_scripts/.ipynb_checkpoints/sctransform-checkpoint.r
brca_scripts/wu_2021_pseudobulk.pkl
celltypist_labels/.ipynb_checkpoints/labels_POST-03-checkpoint.csv
celltypist_labels/.ipynb_checkpoints/labels_POST-11-checkpoint.csv
celltypist_labels/labels_POST-03.csv
celltypist_labels/labels_POST-05.csv
celltypist_labels/labels_POST-06.csv
celltypist_labels/labels_POST-11.csv
celltypist_labels/labels_pre_01.csv
celltypist_labels/labels_PRE-01.csv
celltypist_labels/labels_PRE-02.csv
celltypist_labels/labels_PRE-04.csv
celltypist_labels/labels_PRE-05.csv
figures/.ipynb_checkpoints/Ayers_IFNg_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/B-cells_cos_sim-checkpoint.pdf
figures/.ipynb_checkpoints/Cabrita_tls_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/CAFs_cos_sim-checkpoint.pdf
figures/.ipynb_checkpoints/Cancer Epithelial_cos_sim-checkpoint.pdf
figures/.ipynb_checkpoints/Davidson_costimulatory_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/DN2_Bcells_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Endothelial_cos_sim-checkpoint.pdf
figures/.ipynb_checkpoints/Goff_B cells_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Goff_Cell proliferation_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Goff_Myeloid inflammatory_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Myeloid_cos_sim-checkpoint.pdf
figures/.ipynb_checkpoints/Normal Epithelial_cos_sim-checkpoint.pdf
figures/.ipynb_checkpoints/Plasmablasts_cos_sim-checkpoint.pdf
figures/.ipynb_checkpoints/POST-03_coordinate_filtering-checkpoint.pdf
figures/.ipynb_checkpoints/POST-03_tumour_segmentation-checkpoint.pdf
figures/.ipynb_checkpoints/POST-05_coordinate_filtering-checkpoint.pdf
figures/.ipynb_checkpoints/POST-05_tumour_segmentation-checkpoint.pdf
figures/.ipynb_checkpoints/POST-06_tumour_segmentation-checkpoint.pdf
figures/.ipynb_checkpoints/POST-11_coordinate_filtering-checkpoint.pdf
figures/.ipynb_checkpoints/POST-11_tumour_segmentation-checkpoint.pdf
figures/.ipynb_checkpoints/PRE-01_coordinate_filtering-checkpoint.pdf
figures/.ipynb_checkpoints/PRE-01_tumour_segmentation-checkpoint.pdf
figures/.ipynb_checkpoints/PRE-02_coordinate_filtering-checkpoint.pdf
figures/.ipynb_checkpoints/PRE-02_tumour_segmentation-checkpoint.pdf
figures/.ipynb_checkpoints/PRE-04_coordinate_filtering-checkpoint.pdf
figures/.ipynb_checkpoints/PRE-04_tumour_segmentation-checkpoint.pdf
figures/.ipynb_checkpoints/PRE-05_tumour_segmentation-checkpoint.pdf
figures/.ipynb_checkpoints/PVL_cos_sim-checkpoint.pdf
figures/.ipynb_checkpoints/T-cells_cos_sim-checkpoint.pdf
figures/.ipynb_checkpoints/Yang_Bcells_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Zhang_hM01_Mast-TPSAB1_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Zhang_hM02_pDC-LILRA4_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Zhang_hM03_cDC2-CD1C_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Zhang_hM04_cDC1-BATF3_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Zhang_hM05_Mono-CD14_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Zhang_hM08_Macro-NLRP3_histogram-checkpoint.pdf
figures/.ipynb_checkpoints/Zhang_hM12_TAM-C1QC_histogram-checkpoint.pdf
figures/Ayers_IFNg_histogram.pdf
figures/Cabrita_tls_histogram.pdf
figures/Davidson_costimulatory_histogram.pdf
figures/Davidson_suppressive_histogram.pdf
figures/DN2_Bcells_histogram.pdf
figures/Goff_Agpresentation_histogram.pdf
gene_signatures/.ipynb_checkpoints/genes_and_pathways_TILS_wCode_4-checkpoint.html
figures/Goff_B cells_histogram.pdf
objects/cellchat_list.rds
figures/Goff_Cell proliferation_histogram.pdf
objects/converted_seurat.rds
figures/Goff_Myeloid inflammatory_histogram.pdf
objects/merged_visium_samples.h5ad
figures/Goff_NK cells_histogram.pdf
objects/merged_visium_samples.h5seurat
figures/Messina_chemokine_histogram.pdf
objects/objec.txt
figures/POST-03_coordinate_filtering.pdf
objects/profile.out
figures/POST-03_tumour_segmentation.pdf
objects/seurat_objects_list.rds
figures/POST-05_coordinate_filtering.pdf
objects/seurat_objects_v2.rds
figures/POST-05_tumour_segmentation.pdf
objects/visium_samples_inclusive.pkl
figures/POST-06_coordinate_filtering.pdf
objects/visium_samples.pkl
figures/POST-06_tumour_segmentation.pdf
objects/wu_2021_pseudobulk.pkl
figures/POST-11_coordinate_filtering.pdf
Wu_etal_2021_BRCA_scRNASeq/.ipynb_checkpoints/metadata-checkpoint.csv
figures/POST-11_tumour_segmentation.pdf
Wu_etal_2021_BRCA_scRNASeq/count_matrix_barcodes.tsv
figures/PRE-01_coordinate_filtering.pdf
Wu_etal_2021_BRCA_scRNASeq/count_matrix_genes.tsv
figures/PRE-01_tumour_segmentation.pdf
Wu_etal_2021_BRCA_scRNASeq/count_matrix_sparse.mtx
figures/PRE-02_coordinate_filtering.pdf
Wu_etal_2021_BRCA_scRNASeq/metadata.csv
figures/PRE-02_tumour_segmentation.pdf
figures/PRE-04_coordinate_filtering.pdf
figures/PRE-04_tumour_segmentation.pdf
figures/PRE-05_coordinate_filtering.pdf
figures/PRE-05_tumour_segmentation.pdf
figures/Rooney_cytolytic_histogram.pdf
figures/Yang_Bcells_histogram.pdf
figures/Zhang_hM01_Mast-TPSAB1_histogram.pdf
figures/Zhang_hM02_pDC-LILRA4_histogram.pdf
figures/Zhang_hM03_cDC2-CD1C_histogram.pdf
figures/Zhang_hM04_cDC1-BATF3_histogram.pdf
figures/Zhang_hM05_Mono-CD14_histogram.pdf
figures/Zhang_hM06_Mono-CD16_histogram.pdf
figures/Zhang_hM08_Macro-NLRP3_histogram.pdf
figures/Zhang_hM09_Macro-PLTP_histogram.pdf
figures/Zhang_hM10_Macro-IL1B_histogram.pdf
figures/Zhang_hM12_TAM-C1QC_histogram.pdf
figures/Zhang_hM13_TAM-SPP1_histogram.pdf
figures/Zhang_hM06_Mono-CD16_histogram.pdf
figures/Zhang_hM08_Macro-NLRP3_histogram.pdf
figures/Zhang_hM09_Macro-PLTP_histogram.pdf
figures/Zhang_hM10_Macro-IL1B_histogram.pdf
figures/Zhang_hM12_TAM-C1QC_histogram.pdf
figures/Zhang_hM13_TAM-SPP1_histogram.pdf
.ipynb_checkpoints/clusters-checkpoint.png
.ipynb_checkpoints/double_neagative_b_cells_integration-checkpoint.png
.ipynb_checkpoints/integration_scores-checkpoint.png
.ipynb_checkpoints/no_labels-checkpoint.png
.ipynb_checkpoints/plasma-checkpoint.png
brca_nbs_previous/figures/B-cells_cos_sim.pdf
brca_nbs_previous/figures/CAFs_cos_sim.pdf
brca_nbs_previous/figures/Cancer Epithelial_cos_sim.pdf
brca_nbs_previous/figures/Endothelial_cos_sim.pdf
brca_nbs_previous/figures/Myeloid_cos_sim.pdf
brca_nbs_previous/figures/Normal Epithelial_cos_sim.pdf
brca_nbs_previous/figures/Plasmablasts_cos_sim.pdf
brca_nbs_previous/figures/PVL_cos_sim.pdf
brca_nbs_previous/figures/T-cells_cos_sim.pdf
brca_nbs_previous/visium_samples.pkl
brca_nbs_previous/wu_2021_pseudobulk.pkl
brca_scripts/.ipynb_checkpoints/label_transfer_b_cells-checkpoint.r
brca_scripts/label_transfer_b_cells.r
clusters.png
double_neagative_b_cells_integration.png
integration_scores.png
ITGB1_b_cells_integration.png
no_labels.png
objects/b_cell_ref_data.rds
objects/visium_labeled.rds
plasma.png
visium_samples.png
visium_samples.png
image_masks/PRE-05_Mask.png
figures/.ipynb_checkpoints/clusters-checkpoint.png
figures/.ipynb_checkpoints/double_neagative_b_cells_integration-checkpoint.png
figures/.ipynb_checkpoints/integration_scores-checkpoint.png
figures/.ipynb_checkpoints/no_labels-checkpoint.png
figures/.ipynb_checkpoints/plasma-checkpoint.png
image_masks/POST-03_Mask.png
image_masks/POST-05_Mask.png
image_masks/POST-06_lower_Mask.png
image_masks/POST-06_upper_Mask.png
image_masks/POST-11_Mask.png
image_masks/PRE-01_Mask.png
image_masks/PRE-02_Mask.png
image_masks/PRE-04_Mask.png
brca_nbs_previous/suerat_meta.csv
brca_nbs_previous/seurat_obj.h5Seurat
brca_nbs_previous/predictions_meta.csv
brca_nbs_previous/seurat_meta.csv
brca_nbs_previous/figures/.ipynb_checkpoints/PVL_cos_sim-checkpoint.pdf
BRCA_2024_pipeline/image_masks/PRE-05_Mask.png
BRCA_2024_pipeline/image_masks/POST-03_Mask.png
BRCA_2024_pipeline/image_masks/POST-05_Mask.png
BRCA_2024_pipeline/image_masks/POST-06_Mask.png
BRCA_2024_pipeline/image_masks/POST-11_Mask.png
BRCA_2024_pipeline/image_masks/PRE-01_Mask.png
BRCA_2024_pipeline/image_masks/PRE-02_Mask.png
BRCA_2024_pipeline/image_masks/PRE-04_Mask.png
BRCA_2024_pipeline/objects/test_object.h5seurat
BRCA_2024_pipeline/objects/test_object.h5ad
BRCA_2024_pipeline/figures/PRE-05_segmentation_plots.png
BRCA_2024_pipeline/figures/.ipynb_checkpoints/PRE-01_segmentation_plots-checkpoint.png
BRCA_2024_pipeline/figures/pca_kmeans_clustering_highlighted_rotated_labels.png
BRCA_2024_pipeline/figures/pca_kmeans_clustering_highlighted.png
BRCA_2024_pipeline/figures/pca_kmeans_clustering.png
BRCA_2024_pipeline/figures/POST-03_segmentation_plots.png
BRCA_2024_pipeline/figures/POST-05_segmentation_plots.png
BRCA_2024_pipeline/figures/POST-06_segmentation_plots.png
BRCA_2024_pipeline/figures/POST-11_segmentation_plots.png
BRCA_2024_pipeline/figures/PRE-01_segmentation_plots.png
BRCA_2024_pipeline/figures/PRE-02_segmentation_plots.png
BRCA_2024_pipeline/figures/PRE-04_segmentation_plots.png
BRCA_2024_pipeline/.ipynb_checkpoints/visiumPipeline-checkpoint.py
BRCA_2024_pipeline/__pycache__/applyCosineScores.cpython-310.pyc
BRCA_2024_pipeline/__pycache__/applyImageMask.cpython-310.pyc
BRCA_2024_pipeline/__pycache__/getRSigs.cpython-310.pyc
BRCA_2024_pipeline/__pycache__/helpFuncs.cpython-310.pyc
BRCA_2024_pipeline/__pycache__/pyAUCell.cpython-310.pyc
BRCA_2024_pipeline/__pycache__/visiumPipeline.cpython-310.pyc
BRCA_2024_pipeline/.ipynb_checkpoints/acquirePseudoBulkRef-checkpoint.py
BRCA_2024_pipeline/.ipynb_checkpoints/applyCosineScores-checkpoint.py
BRCA_2024_pipeline/.ipynb_checkpoints/applyImageMask-checkpoint.py
BRCA_2024_pipeline/.ipynb_checkpoints/getRSigs-checkpoint.py
BRCA_2024_pipeline/.ipynb_checkpoints/helpFuncs-checkpoint.py
BRCA_2024_pipeline/.ipynb_checkpoints/pyAUCell-checkpoint.py
BRCA_2024_pipeline/.ipynb_checkpoints/visium_python_pipeline-checkpoint.py
BRCA_2024_pipeline/gene_signatures/.ipynb_checkpoints/genes_and_pathways_TILS_wCode_4-checkpoint.html
BRCA_scripts/.ipynb_checkpoints/visiumPipeline-checkpoint.py
BRCA_scripts/.ipynb_checkpoints/tumorSegmentation-checkpoint.py
BRCA_scripts/.ipynb_checkpoints/sctransform-checkpoint.r
BRCA_scripts/.ipynb_checkpoints/returnSpatiallyVariableFeatures-checkpoint.r
BRCA_scripts/.ipynb_checkpoints/py_AUCell-checkpoint.py
BRCA_scripts/.ipynb_checkpoints/label_transfer_b_cells-checkpoint.r
BRCA_scripts/.ipynb_checkpoints/helpFuncs-checkpoint.py
BRCA_scripts/.ipynb_checkpoints/getRSigs-checkpoint.py
BRCA_scripts/.ipynb_checkpoints/getBulkSigScores-checkpoint.py
BRCA_scripts/.ipynb_checkpoints/cellchat-checkpoint.r
BRCA_scripts/.ipynb_checkpoints/applyCosineScores-checkpoint.py
BRCA_scripts/.ipynb_checkpoints/acquirePseudoBulkRef-checkpoint.py
BRCA_scripts/__pycache__/visiumPipeline.cpython-310.pyc
BRCA_scripts/__pycache__/tumourSegmentation.cpython-310.pyc
BRCA_scripts/__pycache__/tumorSegmentation.cpython-310.pyc
BRCA_scripts/__pycache__/py_AUCell.cpython-310.pyc
BRCA_scripts/__pycache__/applyCosineScores.cpython-310.pyc
BRCA_scripts/__pycache__/applySignatures.cpython-310.pyc
BRCA_scripts/__pycache__/getBulkSigScores.cpython-310.pyc
BRCA_scripts/__pycache__/getRSigs.cpython-310.pyc
BRCA_scripts/__pycache__/helpFuncs.cpython-310.pyc
BRCA_nbs_previous/wu_2021_pseudobulk.pkl
BRCA_nbs_previous/visium_samples.pkl
BRCA_nbs_previous/thresholded_image.png
BRCA_nbs_previous/suerat_meta.csv
BRCA_nbs_previous/seurat_obj.h5Seurat
BRCA_nbs_previous/seurat_meta.csv
BRCA_nbs_previous/segmented_large_objects.png
BRCA_nbs_previous/segmented_image.png
BRCA_nbs_previous/predictions_meta.csv
BRCA_nbs_previous/figures/T-cells_cos_sim.pdf
BRCA_nbs_previous/figures/PVL_cos_sim.pdf
BRCA_nbs_previous/figures/Plasmablasts_cos_sim.pdf
BRCA_nbs_previous/figures/Normal Epithelial_cos_sim.pdf
BRCA_nbs_previous/figures/Myeloid_cos_sim.pdf
BRCA_nbs_previous/figures/Endothelial_cos_sim.pdf
BRCA_nbs_previous/figures/Cancer Epithelial_cos_sim.pdf
BRCA_nbs_previous/figures/.ipynb_checkpoints/PVL_cos_sim-checkpoint.pdf
BRCA_nbs_previous/figures/B-cells_cos_sim.pdf
BRCA_nbs_previous/figures/CAFs_cos_sim.pdf
BRCA_nbs_previous/.ipynb_checkpoints/combined_spatial_plots-checkpoint.png
BRCA_nbs_previous/.ipynb_checkpoints/thresholded_image-checkpoint.png
BRCA_nbs_previous/combined_spatial_plots.png
BRCA_2024_pipeline/results/simple_df.csv
BRCA_2024_pipeline/results/overlapping_genes.rds
BRCA_2024_pipeline/results/eds_results_df.rds
BRCA_2024_pipeline/results/dnb_violin_cell_statistics.csv
BRCA_2024_pipeline/results/dnb_cell_statistics.csv
BRCA_2024_pipeline/results/combined_df.csv
BRCA_2024_pipeline/reports/.ipynb_checkpoints/BRCA_report-checkpoint.html
BRCA_2024_pipeline/references/zenodo.11468564/scRNA_data/panB_scRNA_processed_data.rds
BRCA_2024_pipeline/references/zenodo.11468564/scRNA_data/panB_Plasma_cell_selected_scRNA_processed_data.rds
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig6/fig6.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig5/fig5.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig5/BayesPrism_function.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig4/fig4.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/9_trajectory_analysis.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/8-positive_TF_identify.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/7-peak2GeneLinkage.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/6-footprint.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/5-motif_enrichment_in_differential_peaks.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/4-motif_devation.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/3-peak_calling.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/2-RNA_integration.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/10_motif_bridge_plot.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/1-ArchR_merge.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig3/scATAC/0-QC_plot.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig2/fig2.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig1/fig1.R
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig1/Additional_data/genes_black_WYC.rda
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig1/Additional_data/color.B.Rdata
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig1/Additional_data/biomart_mart_export.txt
BRCA_2024_pipeline/references/zenodo.11468564/code/Fig1/.ipynb_checkpoints/fig1-checkpoint.R
BRCA_2024_pipeline/references/Wu_etal_2021_BRCA_scRNASeq/metadata.csv
BRCA_2024_pipeline/references/Wu_etal_2021_BRCA_scRNASeq/count_matrix_sparse.mtx
BRCA_2024_pipeline/references/Wu_etal_2021_BRCA_scRNASeq/count_matrix_genes.tsv
BRCA_2024_pipeline/references/Wu_etal_2021_BRCA_scRNASeq/count_matrix_barcodes.tsv
BRCA_2024_pipeline/references/Wu_etal_2021_BRCA_scRNASeq/.ipynb_checkpoints/metadata-checkpoint.csv
BRCA_2024_pipeline/references/wu_2021_pseudobulk.pkl
BRCA_2024_pipeline/objects/visium_samples.pkl
BRCA_2024_pipeline/objects/PRE-05.rds
BRCA_2024_pipeline/objects/PRE-05.h5ad
BRCA_2024_pipeline/objects/PRE-04.rds
BRCA_2024_pipeline/objects/PRE-04.h5ad
BRCA_2024_pipeline/objects/PRE-02.rds
BRCA_2024_pipeline/objects/PRE-02.h5ad
BRCA_2024_pipeline/objects/PRE-01.rds
BRCA_2024_pipeline/objects/PRE-01.h5ad
BRCA_2024_pipeline/objects/POST-11.rds
BRCA_2024_pipeline/objects/POST-11.h5ad
BRCA_2024_pipeline/objects/POST-06.rds
BRCA_2024_pipeline/objects/POST-06.h5ad
BRCA_2024_pipeline/objects/POST-05.rds
BRCA_2024_pipeline/objects/POST-05.h5ad
BRCA_2024_pipeline/objects/POST-03.rds
BRCA_2024_pipeline/objects/POST-03.h5ad
BRCA_2024_pipeline/objects/b_cell_ref_data.rds
BRCA_2024_pipeline/image_masks/.ipynb_checkpoints/PRE-01_Mask-checkpoint.png
BRCA_2024_pipeline/gene_signatures/genes_and_pathways_TILS_wCode_4.html
BRCA_2024_pipeline/__pycache__/geneSigCosSimHeatmap.cpython-310.pyc
BRCA_2024_pipeline/__pycache__/preProcessPipeline.cpython-310.pyc
BRCA_2024_pipeline/__pycache__/visiumPythonPipeline.cpython-310.pyc
BRCA_2024_pipeline/.ipynb_checkpoints/geneSigCosSimHeatmap-checkpoint.py
BRCA_2024_pipeline/.ipynb_checkpoints/label_transfer_seurat_deprecrated-checkpoint.r
BRCA_2024_pipeline/.ipynb_checkpoints/ma_et_al_ref_analysis-checkpoint.r
BRCA_2024_pipeline/.ipynb_checkpoints/preProcessPipeline-checkpoint.py
BRCA_2024_pipeline/.ipynb_checkpoints/sctransform-checkpoint.r
BRCA_2024_pipeline/.ipynb_checkpoints/visiumPythonPipeline-checkpoint.py
BRCA_2024_pipeline/.ipynb_checkpoints/visiumRPipeline-checkpoint.r
BRCA_2024_pipeline/deprecated_scripts/.ipynb_checkpoints/cos_sim_deprecated-checkpoint.r
BRCA_2024_pipeline/deprecated_scripts/.ipynb_checkpoints/processMaRef_deprecated-checkpoint.r
BRCA_2024_pipeline/figures/.ipynb_checkpoints/AtM_scores_summary-checkpoint.png
BRCA_2024_pipeline/figures/.ipynb_checkpoints/cell_type_dist_celltypist-checkpoint.png
BRCA_2024_pipeline/figures/.ipynb_checkpoints/DN2_Bcells_summary-checkpoint.png
BRCA_2024_pipeline/figures/.ipynb_checkpoints/emds_plot-checkpoint.png
BRCA_2024_pipeline/figures/.ipynb_checkpoints/ma_et_al_umaps-checkpoint.png
BRCA_2024_pipeline/figures/.ipynb_checkpoints/post_correlations-checkpoint.png
BRCA_2024_pipeline/figures/.ipynb_checkpoints/pre_correlations-checkpoint.png
BRCA_2024_pipeline/figures/.ipynb_checkpoints/PRE-04_segmentation_plots-checkpoint.png
BRCA_2024_pipeline/figures/.ipynb_checkpoints/ref_umap-checkpoint.png
BRCA_2024_pipeline/figures/.ipynb_checkpoints/Rplots-checkpoint.pdf
BRCA_2024_pipeline/figures/.ipynb_checkpoints/vlnplot_grid-checkpoint.png
BRCA_2024_pipeline/figures/AtM_scores_summary.png
BRCA_2024_pipeline/figures/B.09.DUSP4+AtM_summary.png
BRCA_2024_pipeline/figures/cell_type_dist_celltypist_simple.png
BRCA_2024_pipeline/figures/cell_type_dist_celltypist.png
BRCA_2024_pipeline/figures/cos_celltypist.png
BRCA_2024_pipeline/figures/dn_b_cos_summary.png
BRCA_2024_pipeline/figures/DN2_Bcells_SCT_summary.png
BRCA_2024_pipeline/figures/DN2_Bcells_summary.png
BRCA_2024_pipeline/figures/emd_plot.png
BRCA_2024_pipeline/figures/emds_plot.png
BRCA_scripts/wu_2021_pseudobulk.pkl
BRCA_2024_pipeline/figures/FCRL5_summary.png
BRCA_2024_pipeline/figures/Goff_Agpresentation_summary.png
BRCA_2024_pipeline/figures/Goff_NK cells_summary.png
BRCA_2024_pipeline/figures/Goff_NK.cells_summary.png
BRCA_2024_pipeline/figures/LSM4_summary.png
BRCA_2024_pipeline/figures/ma_et_al_umaps.png
BRCA_2024_pipeline/figures/ma_reference_dimplot.png
BRCA_2024_pipeline/figures/post_correlations.png
BRCA_2024_pipeline/figures/pre_correlations.png
BRCA_2024_pipeline/figures/qupath_outlines.png
BRCA_2024_pipeline/figures/ref_umap.png
BRCA_2024_pipeline/figures/roc_plot.png
BRCA_2024_pipeline/figures/Rplots.pdf
BRCA_2024_pipeline/figures/violin_cos_ref_annotated.png
BRCA_2024_pipeline/figures/violin_cos_ref.png
BRCA_2024_pipeline/figures/vlnplot_grid.png
